.details{
    width:90%;
    height:50vh;
    font-size: 75%;
    padding: 5%;
    background: var(--bgsecondary);
    position:relative;
    text-align: center;
    border: 2px solid var(--butonD);
    border-radius: 5% 5% 0 0;
    font-weight: bold;
    transition: 1s ease-in-out;
}
.details h3{
    color: var(--buton)
}
.details a button{
    background: var(--buton);
    color:#fff;
    width:20%;
    font-weight: bold;
    border-radius:20px;
    border: 1px solid var(--buton);
    margin-top: 5px;
}
.details a button:hover{
    background: var(--butonD);
}
.snippet{
    margin-top: -60%;
}
*{
    margin:0;
    padding:0;
    font-family:"Poppins", sans-serif;
    scroll-behavior: smooth;
    
}
html{
    transition: 1s ease-in-out;
}
a{
    text-decoration: none;
    color:#fff
}
:root{
    --bgbody: #f0f0f0;
    --bgprimary:#07011d;
    --bgsecondary:#eb7e02;
    --colorprimary: #01000c;
    --butonD: #f7aa05;
    --buton:#016306;
}
body{
    background: var(--bgprimary) !important;
    overflow-x: hidden;
    max-width: 100%;
}
header{
    display:flex;
    line-height: 3rem;
    background: url(images/blob-scatter-haikei\ \(1\).svg);
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height: 50px;
    position: fixed;
    font-weight: bolder;
    z-index: 999;

}
header nav p{
    color:#fff;
    font-size: 2.5rem;
    font-weight: bolder;
    padding:1.5rem
}
header nav .container {
    max-width: 1200px;
    margin: 0 auto;
} 
header nav .container ul {
    list-style: none;
    display: flex;
    margin-left: 52%;
}

header nav .container ul li {
    margin-right: -1rem;
    font-size: 1.5rem;
}

header nav .container ul li a {
    color: white;
    text-decoration: none;
    display:flex;
    align-items: center;
    justify-content: center;
}
header nav .container ul li a:hover {
    color:var(--butonD)
}
header nav .container ul li a p{
    font-size: 1.5rem;
}
header nav .container ul li a p:hover{
    color: var(--butonD)
}

header .header__intro{
    padding: 10rem 0 0 10rem;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 100rem;
    overflow: hidden;
}
header .header__intro  .header__text{
    margin-top: 10rem;
}
header .header__intro .header__text h1{
    color:var(--bgsecondary) !important;
    font-size: 2.5rem;
    margin: 1.2rem 0 0 -4rem ;
}
header .header__intro .header__text h1 div{
    color:var(--colorprimary) !important;
    font-size: 5rem;
}
header .header__intro .header__text p{
    font-size: 2rem;
    margin: 0 0 0 -4rem ;
}
header .header__intro .header__text div button{
    background: var(--buton);
    color:#fff;
    padding: .8rem;
    font-size: 1rem;
    font-weight: bold;
    border:var(--buton) .2px solid;
    border-radius: 2rem;
    margin: 1rem 0 0 -4rem ;
    transition: 1s ease-in-out;

}
header .header__intro .header__text div button:hover{
    background: var(--butonD);
}
button + button{
    margin-left: .1rem !important;
}
header .header__intro img{
    width:70%;
    position:relative;
}
.obscure{
    position:absolute; 
    background:var(--bgsecondary); 
    width:33%; 
    height: 55vh; 
    border:#ff8a04 10px solid;
    border-radius: 100%; 
    margin: 3rem 0 0 45rem;
}

#services{
    width:90%;
    height:40vh;
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 2rem 5rem 0 5rem;
    background: #fff;
}
#services .service{
    width: 50%;
    background: #eb7e02;
    padding: 1rem 2rem 2rem 4rem;
    border-radius: 0 5rem 5rem 0 ;
    margin-left: -6rem;
}
#services .service p{
    color:#016306;
    font-weight: bolder;
    font-size: 2rem;
    margin-top: 2.5rem;
    text-decoration: underline;
}
#services .service h1{
    font-size: 2rem;
    font-weight: bolder;
    color:#fff;
}
#services .swiper{
    margin-left: -13rem;
}
#services .swiper .swiper-wrapper .swiper-slide{
    width: 50%;
    margin:1.2rem;
}
#services .swiper .swiper-wrapper .swiper-slide .image{
    padding-left: 8rem;
}
#services .swiper .swiper-wrapper .swiper-slide .image img{
    border-radius: 100%;
    width: 7rem;
}
#services .swiper .swiper-wrapper .swiper-slide .caption{
    text-align: center;
    font-weight: bold;
    color:rgb(85, 84, 84);
    font-size: .9rem;
}
#services .swiper .swiper-wrapper .swiper-slide .caption h1{
    color:#eb7e02;
    font-size: 1.2rem;
}
#services .swiper  .swiper-button-prev, #services .swiper  .swiper-button-next{
    margin-top: 5rem;
    color:#eb7e02;
    font-weight: bolder;
}
#for__mobile{
    display:none;
}
#myworks{
    background-image: url('images/Screenshot\ \(161\).png');
    overflow: hidden;
}
h2{
    text-align: center;
    background:var(--bgprimary);
    color:#fff;
    padding: .6rem;
}
#myworks .works{
    width:100%;
    background-color: rgba(0,0,0,80%);
    overflow: hidden;
}
#myworks .works .workz{
    width:80%;
    height: 45rem;
    margin:20px auto;
    padding: 0 auto;
    display: grid;
    overflow: scroll;
    overflow-x: hidden;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    transition: 1s ease-in-out;
}
/* Hide scrollbar for Chrome, Safari and Opera */
#myworks .works .workz::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge add Firefox */
  #myworks .works .workz {
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
  }

#myworks .works .workz .work{
    width: 90%;
    height: 20rem;
    border: var(--bgprimary) 2px solid;
    border-radius: 2rem ;
    margin: 10px;
    overflow: hidden;
}
#myworks .works .workz .work img{
    width:30rem;
    height:20rem;
    transition: 2s ease-in-out;
    cursor:pointer;
    
}
#myworks .works .workz .work img:hover{
    width:32rem;
    margin-left: -1rem;
    margin-top: -1rem;
    height: 21rem;
}
.work + .work{
    margin-left: 10rem;
}
.moreM1, .moreM2, .moreM3{
    transition: 1s ease-in-out;
}
#showMore{
    width: 10%;
    background: var(--buton);
    color:#fff;
    padding: .3rem;
    font-size: 1rem;
    font-weight: bold;
    border:var(--buton) .2px solid;
    border-radius: 2rem;
    /* margin: 1rem 0 0 -4rem ; */
    transition: 1s ease-in-out;
    align-items: center;
    justify-content: center;
    margin-left: 45%;
    

}
#capabilities{
    width:100%;
    height:24rem;
}
#capabilities form{
    width:400rem !important;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    padding:2rem 0 2rem 10rem;
    max-width: 90%;
    margin-top: .2rem;
    line-height: .5rem;
    
}
#capabilities form label{
    width:90%;
    margin-top: 1rem;
}

#capabilities form label ul li{
    font-size: 1rem;
    font-weight: bold;
    display:grid;
    grid-template-columns: 60% 40%;
}
#capabilities form label ul li span{
    text-align: end;
    font-size:1.2rem;
    color:var(--buton);
}
#capabilities form label input{
    width:100%;
    max-height: 1rem;
    -webkit-appearance:button;
    background-color: green;
    accent-color:orange;  
    -webkit-appearance: none; 
    -moz-appearance: none;
}
.noInteraction{
    width: 100%; 
    height:20rem; 
    background:transparent; 
    position:absolute
}
#about{
    background: url(images/blob-scene-haikei.svg);
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    color:#fff;
    
}
#about .about-content{
    padding:2%;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    margin: auto 5rem;
    align-items: center;
    justify-content: center;
    width:100%;
}
#about .about-content .about-content__div{
    border:2px solid var(--bgprimary);
}
#about .about-content .atMedia{
    display:none;
}
#about .about-content .about-content__div:nth-child(1){
    /* padding-top:5%; */
}
#about .about-content .about-content__div img{
    border-radius: 10px;
}
#about .about-content .about-content__div:nth-child(3){
    border:none;
    margin-left: 2%;
}
#about .about-content p{
    margin:2%;
    text-align: justify;
    
}
#contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: #fff;
    overflow:hidden;
    border-radius: 3rem 2rem 0 0;
    border-top: 2px solid var(--bgprimary);
    
}
#contact div img{
    margin-left:16rem;
    position:relative;
    width:60%;
    margin-top: 3rem;
    position:relative;
    border-radius:0 10% 10% 10% ;
    box-shadow: var(--bgprimary) 10px 10px 10px;
    transition: 2.5s ease-in-out;
}
#contact div img:hover{
    box-shadow: var(--bgbody) 10px 10px 15px;
}
#contact div h2{
    margin: 7rem 2rem 0 -40rem;
}
#contact div #root{
    margin-left: -4rem;
}
footer{
    width:100%;
    background: var(--bgsecondary);
    text-align: center;
    color:#016306;
}
footer h3{
    text-decoration: underline;
}
footer div a{
    margin:2rem;
    font-size: 1.5rem;
}

@media (max-width: 1280px){
    body{
        /* background: var(--bgbody); */
        overflow-x: hidden;
        max-width: 100%;
    }
    header{
        display:flex;
        line-height: 3rem;
        background: url(images/blob-scatter-haikei\ \(1\).svg);
        background-repeat: no-repeat, no-repeat;
        background-size: cover;
        width:1280px !important;
    }
    header nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width:1240px;
        height: 50px;
        position: fixed;
        font-weight: bolder;
        z-index: 999;
    
    }
    header nav p{
        color:#fff;
        font-size: 2.5rem;
        font-weight: bolder;
        padding:1.5rem
    }
    header nav .container {
        max-width: 1200px;
        margin: 0 auto;
    } 
    header nav .container ul {
        list-style: none;
        display: flex;
        margin-left: 32%;
    }
    
    header nav .container ul li {
        margin-right: -1rem;
        font-size: 1.5rem;
    }
    
    header nav .container ul li a {
        color: white;
        text-decoration: none;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    header nav .container ul li a:hover {
        color:var(--butonD)
    }
    header nav .container ul li a p{
        font-size: 1.5rem;
    }
    header nav .container ul li a p:hover{
        color: var(--butonD)
    }
    
    header .header__intro{
        padding: 10rem 0 0 6rem;
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 100rem;
        overflow: hidden;
    }
    header .header__intro  .header__text{
        margin-top: 10rem;
    }
    header .header__intro .header__text h1{
        color:var(--bgsecondary) !important;
        font-size: 2.5rem;
        margin: 1.2rem 0 0 -4rem ;
    }
    header .header__intro .header__text h1 div{
        color:var(--colorprimary) !important;
        font-size: 5rem;
    }
    header .header__intro .header__text p{
        font-size: 2rem;
        margin: 0 0 0 -4rem ;
    }
    header .header__intro .header__text div button{
        background: var(--buton);
        color:#fff;
        padding: .8rem;
        font-size: 1.5rem;
        font-weight: bold;
        border:var(--buton) .2px solid;
        border-radius: 2rem;
        margin: 1rem 0 0 -4rem ;
        transition: 1s ease-in-out;
    
    }
    header .header__intro .header__text div button:hover{
        background: var(--butonD);
    }
    button + button{
        margin-left: .1rem !important;
    }
    header .header__intro img{
        width:70%;
        position:relative;
    }
    .obscure{
        position:absolute; 
        background:var(--bgsecondary); 
        width:28%; 
        height: 45vh; 
        border:#ff8a04 10px solid;
        border-radius: 100%; 
        margin: 3rem 0 0 39rem;
    }
    
    #services{
        width:90%;
        height:40vh;
        display: grid;
        grid-template-columns: 30% 72%;
        padding: 2rem 5rem 0 5rem;
        background: #fff;
    }
    #services .service{
        width: 60%;
        background: #eb7e02;
        padding: 1rem 1rem 1rem 4rem;
        border-radius: 0 5rem 5rem 0 ;
        margin-left: -6rem;
        margin-top: -2rem;
    }
    #services .service p{
        color:#016306;
        font-weight: bolder;
        font-size: 2rem;
        margin-top: 2rem;
        text-decoration: underline;
    }
    #services .service h1{
        font-size: 2rem;
        font-weight: bolder;
        color:#fff;
    }
    #services .swiper{
        margin-left: -10rem;
    }
    #services .swiper .swiper-wrapper .swiper-slide{
        width: 50%;
        margin:1.2rem;
    }
    #services .swiper .swiper-wrapper .swiper-slide .image{
        padding-left: 8rem;
    }
    #services .swiper .swiper-wrapper .swiper-slide .image img{
        border-radius: 100%;
        width: 7rem;
    }
    #services .swiper .swiper-wrapper .swiper-slide .caption{
        text-align: center;
        font-weight: bold;
        color:rgb(85, 84, 84);
        font-size: .9rem;
    }
    #services .swiper .swiper-wrapper .swiper-slide .caption h1{
        color:#eb7e02;
        font-size: 1.2rem;
    }
    #services .swiper  .swiper-button-prev, #services .swiper  .swiper-button-next{
        margin-top: 5rem;
        color:#eb7e02;
        font-weight: bolder;
    }
    #myworks{
        background-image: url('images/Screenshot\ \(161\).png');
        overflow: hidden;
    }
    h2{
        text-align: center;
        background:var(--bgprimary);
        color:#fff;
        padding: .6rem;
    }
    #myworks .works{
        width:100%;
        background-color: rgba(0,0,0,80%);
        overflow: hidden;
    }
    #myworks .works .workz{
        width:80%;
        height: 45rem;
        margin:20px auto;
        padding: 0 auto;
        display: grid;
        overflow: hidden;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
    #myworks .works .workz .work{
        width: 90%;
        height: 20rem;
        border: var(--bgprimary) 2px solid;
        border-radius: 2rem ;
        margin: 10px;
        overflow: hidden;
    }
    #myworks .works .workz .work img{
        width:30rem;
        height:20rem;
        transition: 2s ease-in-out;
        cursor:pointer;
        
    }
    #myworks .works .workz .work img:hover{
        width:32rem;
        margin-left: -1rem;
        margin-top: -1rem;
        height: 21rem;
    }
    .work + .work{
        margin-left: 10rem;
    }
    .snippet{
        margin-top: -75%;
    }
    #capabilities{
        width:100%;
        height:24rem;
    }
    #capabilities form{
        width:400rem !important;
        display:grid;
        grid-template-columns: repeat(2,1fr);
        padding:2rem 0 2rem 10rem;
        max-width: 90%;
        margin-top: .2rem;
        line-height: .5rem;
        
    }
    #capabilities form label{
        width:90%;
        margin-top: 1rem;
    }
    
    #capabilities form label ul li{
        font-size: 1rem;
        font-weight: bold;
        display:grid;
        grid-template-columns: 60% 40%;
    }
    #capabilities form label ul li span{
        text-align: end;
        font-size:1.2rem;
        color:var(--buton)
    }
    #capabilities form label input{
        width:100%;
        max-height: 1rem;
        -webkit-appearance:button;
        background-color: green;
        accent-color:orange;  
        -webkit-appearance: none; 
        -moz-appearance: none;
    }
    .noInteraction{
        width: 100%; 
        height:20rem; 
        background:transparent; 
        position:absolute
    }
    #about .about-content{
        margin: 0 auto
    }
    #about .about-content .about-content__div img{
        width:90%
    }
    #contact{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background: #fff;
        overflow:hidden;
        border-radius: 3rem 2rem 0 0;
        border-top: 2px solid var(--bgprimary);
        
    }
    #contact div img{
        margin-left:5rem;
        position:relative;
        width:75%;
        margin-top: 3rem;
        position:relative;
        border-radius:0 10% 10% 10% ;
        box-shadow: var(--bgprimary) 10px 10px 10px;
        transition: 2.5s ease-in-out;
    }
    #contact div img:hover{
        box-shadow: var(--bgbody) 10px 10px 15px;
    }
    #contact div h2{
        margin: 7rem 2rem 0 -40rem;
    }
    #contact div #root{
        margin-left: -4rem;
    } 
}

@media (max-width: 1024px){
    body{
        /* background: var(--bgbody); */
        overflow-x: hidden;
        max-width: 100%;
    }
    header{
        display:flex;
        line-height: 3rem;
        background: url(images/blob-scatter-haikei\ \(1\).svg);
        background-repeat: no-repeat, no-repeat;
        background-size: cover;
        width:1024px !important;
    }
    header nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width:990px;
        height: 50px;
        position: fixed;
        font-weight: bolder;
        z-index: 999;
        overflow: hidden;
    }
    header nav p{
        color:#fff;
        font-size: 2.5rem;
        font-weight: bolder;
        padding:1.5rem
    }
    header nav .container {
        max-width: 1200px;
        margin: 0 auto;
    } 
    header nav .container ul {
        list-style: none;
        display: flex;
        margin-left: 15%;
    }
    
    header nav .container ul li {
        margin-right: -1rem;
        font-size: 1.5rem;
    }
    
    header nav .container ul li a {
        color: white;
        text-decoration: none;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    header nav .container ul li a:hover {
        color:var(--butonD)
    }
    header nav .container ul li a p{
        font-size: 1.5rem;
    }
    header nav .container ul li a p:hover{
        color: var(--butonD)
    }
    
    header .header__intro{
        padding: 0 0 0 6rem;
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 100rem;
        overflow: hidden;
    }
    header .header__intro  .header__text{
        margin-top: 13rem;
    }
    header .header__intro .header__text h1{
        color:var(--bgsecondary) !important;
        font-size: 2.5rem;
        margin: 1.2rem 0 0 -4rem ;
    }
    header .header__intro .header__text h1 div{
        color:var(--colorprimary) !important;
        font-size: 4rem;
    }
    header .header__intro .header__text p{
        font-size: 2rem;
        margin: 0 0 0 -4rem ;
    }
    header .header__intro .header__text div button{
        background: var(--buton);
        color:#fff;
        padding: .8rem;
        font-size: 1.5rem;
        font-weight: bold;
        border:var(--buton) .2px solid;
        border-radius: 2rem;
        margin: 1rem 0 0 -4rem ;
        transition: 1s ease-in-out;
    
    }
    header .header__intro .header__text div button:hover{
        background: var(--butonD);
    }
    button + button{
        margin-left: .1rem !important;
    }
    header .header__intro img{
        margin-top:9rem;
        width:70%;
        position:relative;
    }
    .obscure{
        position:absolute; 
        background:var(--bgsecondary); 
        width:28%; 
        height: 45vh; 
        border:#ff8a04 10px solid;
        border-radius: 100%; 
        margin: 12rem 0 0 30rem;
    }
    
    #services{
        width:865px;
        height:58vh;
        display: grid;
        grid-template-columns: 40% 65%;
        padding: 2rem 5rem 0 5rem;
        background: #fff;
    }
    #services .service{
        width: 60%;
        height:58vh;
        background: #eb7e02;
        padding: 1rem 1rem 1rem 4rem;
        border-radius: 0 5rem 5rem 0 ;
        margin-left: -6rem;
        margin-top: -2rem;
    }
    #services .service p{
        color:#016306;
        font-weight: bolder;
        font-size: 2rem;
        margin-top: 2rem;
        text-decoration: underline;
    }
    #services .service h1{
        font-size: 2.2rem;
        font-weight: bolder;
        color:#fff;
    }
    #services .swiper{
        margin-left: -10rem;
    }
    #services .swiper .swiper-wrapper .swiper-slide{
        width: 50%;
        margin:1.2rem;
    }
    #services .swiper .swiper-wrapper .swiper-slide .image{
        padding-left: 4rem;
    }
    #services .swiper .swiper-wrapper .swiper-slide .image img{
        border-radius: 100%;
        width: 7rem;
    }
    #services .swiper .swiper-wrapper .swiper-slide .caption{
        text-align: center;
        font-weight: bold;
        color:rgb(85, 84, 84);
        font-size: .9rem;
    }
    #services .swiper .swiper-wrapper .swiper-slide .caption h1{
        color:#eb7e02;
        font-size: 1.2rem;
    }
    #services .swiper  .swiper-button-prev, #services .swiper  .swiper-button-next{
        margin-top: 5rem;
        color:#eb7e02;
        font-weight: bolder;
    }
    #myworks{
        background-image: url('images/Screenshot\ \(161\).png');
        overflow: hidden;
    }
    h2{
        text-align: center;
        background:var(--bgprimary);
        color:#fff;
        padding: .6rem;
    }
    #myworks .works{
        width:100%;
        background-color: rgba(0,0,0,80%);
        overflow: scroll;
    }
    #myworks .works .workz{
        width:80%;
        height: 45rem;
        margin:20px auto;
        padding: 0 auto;
        display: grid;
        overflow: scroll;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
    #myworks .works .workz .work{
        width: 90%;
        height: 20rem;
        border: var(--bgprimary) 2px solid;
        border-radius: 2rem ;
        margin: 10px;
        overflow: hidden;
    }
    #myworks .works .workz .work img{
        width:30rem;
        height:20rem;
        transition: 2s ease-in-out;
        cursor:pointer;
        
    }
    #myworks .works .workz .work img:hover{
        width:32rem;
        margin-left: -1rem;
        margin-top: -1rem;
        height: 21rem;
    }
    .work + .work{
        margin-left: 10rem;
    }
    .snippet{
        margin-top: -60%;
    }
    #capabilities{
        width:1024px;
        height:24rem;
    }
    #capabilities form{
        width:400rem !important;
        display:grid;
        grid-template-columns: repeat(2,1fr);
        padding:2rem 0 2rem 1rem;
        max-width: 90%;
        margin-top: .2rem;
        line-height: .5rem;
        
    }
    #capabilities form label{
        width:90%;
        margin-top: 1rem;
    }
    
    #capabilities form label ul li{
        font-size: 1rem;
        font-weight: bold;
        display:grid;
        grid-template-columns: 60% 40%;
    }
    #capabilities form label ul li span{
        text-align: end;
        font-size:1.2rem;
        color:var(--buton)
    }
    #capabilities form label input{
        width:100%;
        max-height: 1rem;
        -webkit-appearance:button;
        background-color: green;
        accent-color:orange;  
        -webkit-appearance: none; 
        -moz-appearance: none;
    }
    .noInteraction{
        width: 100%; 
        height:20rem; 
        background:transparent; 
        position:absolute
    }
    #contact{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background: #fff;
        overflow:hidden;
        border-radius: 3rem 2rem 0 0;
        border-top: 2px solid var(--bgprimary);
        
    }
    #contact div img{
        margin-left:1rem;
        position:relative;
        width:85%;
        margin-top: 3rem;
        position:relative;
        border-radius:0 10% 10% 10% ;
        box-shadow: var(--bgprimary) 10px 10px 10px;
        transition: 2.5s ease-in-out;
    }
    #contact div img:hover{
        box-shadow: var(--bgbody) 10px 10px 15px;
    }
    #contact div h2{
        margin: 7rem 2rem 0 -40rem;
        padding-left: 17rem;
    }
    #contact div #root{
        margin-left: -4rem;
    } 
}

@media (max-width: 912px){
    body{
        /* background: var(--bgbody); */
        overflow-x: hidden;
        max-width: 100%;
    }
    header{
        display:flex;
        line-height: 3rem;
        background: url(images/blob-scatter-haikei\ \(1\).svg);
        background-repeat: no-repeat, no-repeat;
        background-size: cover;
        width:912px !important;
    }
    header nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width:880px;
        height: 50px;
        position: fixed;
        font-weight: bolder;
        z-index: 999;
        overflow: hidden;
    }
    header nav p{
        color:#fff;
        font-size: 2rem;
        font-weight: bolder;
        padding:1.5rem 1.5rem 1.5rem -2rem;
    }
    header nav .container {
        max-width: 912px;
        margin: 0 auto;
    } 
    header nav .container ul {
        list-style: none;
        display: flex;
        margin-left: 15%;
    }
    
    header nav .container ul li {
        margin-right: -1rem;
        font-size: 1.5rem;
        padding:2rem;
    }
    
    header nav .container ul li a {
        color: white;
        text-decoration: none;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    header nav .container ul li a:hover {
        color:var(--butonD)
    }
    header nav .container ul li a p{
        display:none;
    }
    header nav .container ul li a p:hover{
        color: var(--butonD)
    }
    
    header .header__intro{
        padding: 0 0 0 6rem;
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 100rem;
        overflow: hidden;
    }
    header .header__intro  .header__text{
        margin-top: 10rem;
    }
    header .header__intro .header__text h1{
        color:var(--bgsecondary) !important;
        font-size: 2rem;
        margin: 1.2rem 0 0 -4rem ;
        line-height: 4rem;
    }
    header .header__intro .header__text h1 div{
        color:var(--colorprimary) !important;
        font-size: 4rem;
    }
    header .header__intro .header__text p{
        font-size: 1.5rem;
        margin: 0 0 0 -4rem ;
    }
    header .header__intro .header__text div button{
        background: var(--buton);
        color:#fff;
        padding: .8rem;
        font-size: 1rem;
        font-weight: bold;
        border:var(--buton) .2px solid;
        border-radius: 2rem;
        margin: 1rem 0 0 -4rem ;
        transition: 1s ease-in-out;
    
    }
    header .header__intro .header__text div button:hover{
        background: var(--butonD);
    }
    button + button{
        margin-left: .1rem !important;
    }
    header .header__intro img{
        margin-top:9rem;
        width:70%;
        position:relative;
    }
    .obscure{
        position:absolute; 
        background:var(--bgsecondary); 
        width:28%; 
        height: 16vh; 
        border:#ff8a04 10px solid;
        border-radius: 100%; 
        margin: 12rem 0 0 27rem;
    }
    
    #services{
        width:90%;
        height:40vh;
        display: block;
        padding: 3rem;
        background: #fff;
        overflow: hidden;
        z-index: -1;
    }
    #services .service{
        width: 100%;
        height:23vh;
        background: none;
        padding: 1rem 1rem 1rem 4rem;
        margin-top: -2rem 0 -10rem 0;
    }
    #services .service p{
        color: var(--bgsecondary);
        font-weight: bolder;
        font-size: 2rem;
        margin-top: 1rem;
        text-decoration: underline;
    }
    #services .service h1{
        font-size: 2rem;
        font-weight: bolder;
        color: var(--bgprimary);
    }
    #services #control{
        width: 100%;
        height:18vh;
        margin-left: 0rem;
        margin-top: -13rem;
    }
    #services .swiper{
        margin-left: 0;
        width:100%
        
    }
    #services .swiper .swiper-wrapper .swiper-slide{
        width: 35% !important;
        margin:1.2rem;
    }
    #services .swiper .swiper-wrapper .swiper-slide .image{
        padding-left: 6rem;
    }
    #services .swiper .swiper-wrapper .swiper-slide .image img{
        border-radius: 100%;
        width: 7rem;
    }
    #services .swiper .swiper-wrapper .swiper-slide .caption{
        text-align: center;
        font-weight: bold;
        color:rgb(85, 84, 84);
        font-size: 1.5rem;
    }
    #services .swiper .swiper-wrapper .swiper-slide .caption h1{
        color:#eb7e02;
        font-size: 2rem;
    }
    #services .swiper  .swiper-button-prev, #services .swiper  .swiper-button-next{
        margin-top: 5rem;
        color:#eb7e02;
        font-weight: bolder;
    }
    #myworks{
        background-image: url('images/Screenshot\ \(161\).png');
        overflow: hidden;
    }
    h2{
        text-align: center;
        background:var(--bgprimary);
        color:#fff;
        padding: .6rem;
    }
    #myworks .works{
        width:100%;
        background-color: rgba(0,0,0,80%);
        overflow: scroll;
    }
    #myworks .works .workz{
        width:80%;
        height: 45rem;
        margin:20px auto;
        padding: 0 auto;
        display: grid;
        overflow: scroll;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
    #myworks .works .workz .work{
        width: 90%;
        height: 20rem;
        border: var(--bgprimary) 2px solid;
        border-radius: 2rem ;
        margin: 10px;
        overflow: hidden;
    }
    #myworks .works .workz .work img{
        width:30rem;
        height:20rem;
        transition: 2s ease-in-out;
        cursor:pointer;
        
    }
    #myworks .works .workz .work img:hover{
        width:32rem;
        margin-left: -1rem;
        margin-top: -1rem;
        height: 21rem;
    }
    .work + .work{
        margin-left: 10rem;
    }
    .snippet{
        margin-top: -75%;
    }
    #capabilities{
        width:912px;
        height:24rem;
    }
    #capabilities form{
        width:400rem !important;
        display:grid;
        grid-template-columns: repeat(2,1fr);
        padding:2rem 0 2rem 1rem;
        max-width: 90%;
        margin-top: .2rem;
        line-height: .5rem;
        
    }
    #capabilities form label{
        width:90%;
        margin-top: 1rem;
    }
    
    #capabilities form label ul li{
        font-size: 1rem;
        font-weight: bold;
        display:grid;
        grid-template-columns: 60% 40%;
    }
    #capabilities form label ul li span{
        text-align: end;
        font-size:1.2rem;
        color:var(--buton)
    }
    #capabilities form label input{
        width:100%;
        max-height: 1rem;
        -webkit-appearance:button;
        background-color: green;
        accent-color:orange;  
        -webkit-appearance: none; 
        -moz-appearance: none;
    }
    .noInteraction{
        width: 100%; 
        height:20rem; 
        background:transparent; 
        position:absolute
    }
    #contact{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background: #fff;
        overflow:hidden;
        border-radius: 3rem 2rem 0 0;
        border-top: 2px solid var(--bgprimary);
        
    }
    #contact div img{
        margin-left:1rem;
        position:relative;
        width:85%;
        margin-top: 3rem;
        position:relative;
        border-radius:0 10% 10% 10% ;
        box-shadow: var(--bgprimary) 10px 10px 10px;
        transition: 2.5s ease-in-out;
    }
    #contact div img:hover{
        box-shadow: var(--bgbody) 10px 10px 15px;
    }
    #contact div h2{
        margin: 7rem 2rem 0 -40rem;
        padding-left: 17rem;
    }
    #contact div #root{
        margin-left: -4rem;
    } 
    
}

@media (max-width:820px){
    header{
        width:820px !important;
    }
    header nav{
        width:780px
    }
    header .header__intro .header__text div button{
        margin-top: -2rem;
    }
    .obscure{
        width: 25%;
        margin: 12rem 0 0 23rem;
    }
    #services{
        height:63vh;
    }
    #services #control{
        margin-top: -11rem;
    }
    .snippet{
        margin-top: -79%;
    }
    #showMore{
        width: 20%;
        margin-left: 40%;
    }
    #capabilities{
        width:820px;
    }
    #about .about-content{
        padding:2%;
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
    #about .about-content .about-content__div{
        border:2px solid var(--bgprimary);
    }
    #about .about-content .about-content__div:nth-child(1){
        
    }
    #about .about-content .atMedia{
        display:block;
        border-radius: 100%;
        width:55%;
        height:20vh;
        overflow: hidden;
        margin-top: -17rem;
    }
    #about .about-content .atMedia img{
        width:120%;
        margin-left:-5%;
    }
    #about .about-content .atDesktop{
        display:none
    }
    #about .about-content .about-content__div:nth-child(2){
        border: 2px solid var(--bgprimary);
        margin-left: -39%;
        width: 130%;
    }
    #about .about-content p{
        margin:2%;
        text-align: justify;
        
    }
  #capabilities form label ul li{
    grid-template-columns: 70% 30%;
  }
    #contact{
        display:block !important;
    }
    #contact div img{
        display:none !important;
    }
    #contact div h2{
        margin: 2rem 1rem 2rem 1rem;
        padding:0;
    }
    #contact div #root{
        margin-left:0;
    }
}
@media (max-width:768px){
    header{
        width: 768px !important;
    }
    header nav{
        width: 730px
    }
    header .header__intro  .header__text{
        margin-top: 8rem;
    }
    header .header__intro img{
        margin-top: 10rem;
        width:80%;
    }
    .obscure{
        margin: 14rem 0 0 23rem;
    }
    #services{
        width:87%;
        height: 49vh;
    }
    #services #control{
        margin-top: -9rem;
    }
    #services .swiper .swiper-wrapper .swiper-slide .caption h1{
        font-size: 1.5rem;
    }
    #services .swiper .swiper-wrapper .swiper-slide .caption{
        font-size: 1rem;
    }
    #myworks .works .workz .work img{
        width:35rem;
    }
    #myworks .works .workz .work img:hover{
        width:40rem;
    }
    .snippet{
        margin-top: -35%;
    }
    #capabilities{
        width:768px;
    }
    #capabilities form label ul li{
        font-size: .9rem;
        font-weight: bold;
        grid-template-columns: 70% 30%;
    }
    #capabilities form label ul li span{
        text-align: end;
        font-size:.9rem;
    }
}
@media (max-width:540px){
    header{
        width: 540px !important;
    }
    header nav{
        width: 500px !important;
    }
    header nav p{
        color:#fff;
        font-size: 1.5rem;
        font-weight: bolder;
        padding:1rem;
        margin-left:-1rem;
    }
    header nav .container {
        max-width: 540px;
        margin: 0 auto;
    } 
    header nav .container ul {
        list-style: none;
        display: flex;
        margin-left: 25%;
    }
    
    header nav .container ul li {
        padding:1rem;
        font-size: 1rem;
    }
    
    header nav .container ul li a {
        color: white;
        text-decoration: none;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    header nav .container ul li a:hover {
        color:var(--butonD)
    }
    header nav .container ul li a p{
        display:none
    }
    header .header__intro{
        padding: 0 0 0 5rem;
        display:block;
        max-width: 100rem;
        overflow: hidden;
    }
    header .header__intro  .header__text{
        margin-top: 5rem;
    }
    header .header__intro .header__text h1{
        font-size: 2rem;
        margin: 1.2rem 0 0 -4rem ;
    }
    header .header__intro .header__text h1 div{
        font-size: 5rem;
        line-height: 5rem;
    }
    header .header__intro .header__text p{
        font-size: 2.5rem;
        margin: 0 0 0 -4rem ;
    }
    header .header__intro .header__text div button{
        background: var(--buton);
        color:#fff;
        padding: .8rem;
        font-size: 1rem;
        font-weight: bold;
        border:var(--buton) .2px solid;
        border-radius: 2rem;
        margin: 1rem 0 0 -4rem ;
        transition: 1s ease-in-out;
    
    }
    header .header__intro .header__text div button:hover{
        background: var(--butonD);
    }
    button + button{
        margin-left: .1rem !important;
    }
    header .header__intro img{
        width:70%;
        position:relative;
        margin-top: 1rem;
    }
    .obscure{
        width:15rem; 
        height: 15rem; 
        margin: 3rem 0 0 2rem;
    }
    #services{
        width:430px !important;
        height:45vh;
        display:block;
        padding: 2rem 5rem 0 2rem;
        background: #fff;
        margin-top: -1.2rem;
        overflow: hidden;
        
    }
    #services .service{
        padding: .1rem 2rem 2rem 6rem;
    }
    #services .service p{
        font-size: 1.2rem !important;
    }
    #services .service h1{
        font-size: 1.2rem !important;
    }
    #services #control{
        overflow: scroll;
        width:115%;
        height:40vh;
        margin-top: -8rem;
    }
    #services .swiper{
        display:none
    }
    #for__mobile{
        display:block;
        margin: 1rem 1rem 2rem 1rem;
        overflow: scroll;
    }
    #for__mobile div{
        padding:1rem
    }
    #for__mobile div .image{
        margin-left: 35%;
        margin-bottom: -10%;
    }
    #for__mobile div .image img{
        border-radius: 100%;
        width:40%;
    }
    #for__mobile div .caption{
        text-align: center;
    }
    #for__mobile div .caption h1{
        color: var(--bgsecondary)
    }

    #myworks{
        height:fit-content;
    }
    h2{
        text-align: center;
        background:var(--bgprimary);
        color:#fff;
        padding: .6rem;
    }
    #myworks .works{
        width:100%;
        background-color: rgba(0,0,0,80%);
        height:140vh
    }
    #myworks .works .workz{
        width:80%;
        height: 140vh !important;
        margin:20px auto;
        padding: 0 auto;
        display: grid;
        overflow:scroll;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
    #myworks .works .workz .work{
        width: 90%;
        height: 20rem;
        border: var(--bgprimary) 2px solid;
        border-radius: 2rem ;
        margin: 10px;
    }
    #myworks .works .workz .work img{
        width:30rem;
        height:20rem;
        transition: 2s ease-in-out;
        cursor:pointer;
        
    }
    #myworks .works .workz .work img:hover{
        width:32rem;
        margin-left: -1rem;
        margin-top: -1rem;
        height: 21rem;
    }
    .work + .work{
        margin-left: 10rem;
    }
    .snippet{
        margin-top: -55%;
    }
    #capabilities{
        width:540px;
        height:35rem;
        overflow: hidden;
    }
    #capabilities form{
        width:40rem !important;
        display:block;
        padding:2rem 0 2rem 1rem;
        max-width: 90%;
        margin-top: .2rem;
        line-height: .5rem;
        
    }
    #capabilities form label{
        width:90%;
        margin-top: 1rem;
    }
    
    #capabilities form label ul li{
        font-size: 1rem;
        font-weight: bold;
        display:grid;
        grid-template-columns: 60% 40%;
    }
    #capabilities form label ul li span{
        text-align: end;
        font-size:1.2rem;
        color:var(--buton)
    }
  
    .noInteraction{
        width: 100%; 
        height:30rem; 
        background:transparent; 
        position:absolute;
        margin-top: -29rem !important;
    }
    #about .about-content{
        padding:2%;
        display:block;
    }
    #about .about-content .atMedia{
        display:block;
        border-radius: 100%;
        width:40%;
        height:30vh;
        overflow: hidden;
        margin-left: 30%;
        margin-top: 0 !important;
    }
    #about .about-content .atMedia img{
        width:120%;
        margin-left:-5%;
    }
    #about .about-content .atDesktop{
        display:none
    }
    #about .about-content .about-content__div:nth-child(2){
        border: 2px solid var(--bgprimary);
        margin-left: 0;
        width: 100%;
    }
    #about .about-content p{
        margin:2%;
        text-align: justify;
        
    }

    #contact{
        width:540px;
        
    }
    #contact div h2{
        margin: 2rem;
    }
}
@media (max-width: 414px){
    header{
        width:100% !important;
    }
    header nav{
        width: 375px !important;
    }
    header nav .container ul {
        margin-left: 15%;
    }
    header .header__intro  .header__text{
        margin-top: 6rem;
    }
    header .header__intro img{
        width:80%;
        position:relative;
        margin-top: 1rem;
    }
    .obscure{
        width:13rem; 
        height: 13rem; 
        margin: 3rem 0 0 2rem;
    }
    #services{
        width:300px !important;
        height:45vh;
        display:block;
        padding: 2rem 5rem 0 2rem;
        background: #fff;
        margin-top: -1.2rem;
        overflow: hidden;
        
    }
    #services .service{
        padding: .1rem 1rem 2rem 6rem;
    }
    #services #control{
        width:120%;
        margin-top: -6rem;
    }
    .snippet{
        margin-top: -75%;
    }
    #showMore{
        width:30%;
        margin-left: 35%;
    }
    #capabilities{
        width:100%;
        height:35rem;
        overflow: hidden;
    }
    #capabilities form{
        width:40rem !important;
        display:block;
        padding:2rem 0 2rem 1rem;
        max-width: 90%;
        margin-top: .2rem;
        line-height: .5rem;
        
    }
    #capabilities form label{
        width:90%;
        margin-top: 1rem;
    }
    
    #capabilities form label ul li{
        font-size: 1rem;
        font-weight: bold;
        display:grid;
        grid-template-columns: 80% 20%;
    }
    #capabilities form label ul li span{
        text-align: end;
        font-size:1rem;
        color:var(--buton)
    }
  
    .noInteraction{
        width: 100%; 
        height:30rem; 
        background:transparent; 
        position:absolute;
        margin-top: -29rem !important;
    }
    #about .about-content .atMedia{
        width:40%;
        height:140px;
        overflow: hidden;
        margin-left: 30%;
    }
    #contact{
        width:100%;
        
    }
    #contact div h2{
        margin: 2rem;
    }   
}
@media (max-width:390px){
    header nav{
        width: 350px !important;
    }
    header nav p{
        color:#fff;
        font-size: 1.2rem;
        font-weight: bolder;
        padding:0rem;
        margin-left:0;
    }
    header .header__intro  .header__text{
        margin-top: 8rem;
    }
    .obscure{
        width:13rem; 
        height: 12rem; 
        margin: 3rem 0 0 1rem;
    }
    #services{
        width:280px !important;
        height:45vh;
        display:block;
        padding: 2rem 5rem 0 2rem;
        background: #fff;
        margin-top: -1.2rem;
        overflow: hidden;
        
    }
    .snippet{
        margin-top: -85%;
    }
}
@media (max-width:375px){
    header nav{
        width: 340px !important;
    }
    header .header__intro .header__text h1 div{
        font-size: 4rem;
    }
    header .header__intro .header__text p{
        font-size: 1.5rem;
    }
     .obscure{
        width:12rem; 
        height: 11rem; 
        margin: 3rem 0 0 1rem;
    }
    #services{
        width:265px !important;
        height:45vh;
        display:block;
        padding: 2rem 5rem 0 2rem;
        background: #fff;
        margin-top: -1.2rem;
        overflow: hidden;
        
    }
}
@media (max-width:320px){
    header nav{
        width: 280px !important;
    }
    header nav p{
        color:#fff;
        font-size: 1rem;
        padding:0rem;
        margin-left:0rem;
    }
    header nav .container ul li {
        padding:1rem;
        font-size: .7rem;
    }
    header .header__intro .header__text h1{
        font-size: 1.5rem;
    }
    .obscure{
        width:9rem; 
        height: 9rem; 
        margin: 3rem 0 0 1rem;
    }
    #services{
        width:210px !important;
        height:65vh;
        display:block;
        padding: 2rem 5rem 0 2rem;
        background: #fff;
        margin-top: -1.2rem;
        overflow: hidden;
        
    }
     #services #control{
        width:130%;
        height:40vh;
        margin-top: -2rem;
    }
    #myworks{
        height:fit-content
    }
    #myworks .works .workz{
        width:100%;
        height: 130vh;
        margin:20px auto;
    }
    #myworks .works .workz .work{
        width: 90%;
        height: 15rem;
        
    }
    #myworks .works .workz .work img{
        width:20rem;
        height:15rem;
    }
    #myworks .works .workz .work img:hover{
        width:22rem;
        height: 16rem;
    }
    #showMore{
        width: 40%;
        margin-left: 30%;
    }
    .details{
        font-size: 65%;
    }       
    .snippet{
        margin-top: -75%;
    }
}