*{
    margin:0;
    padding:0;
    font-family:"Poppins", sans-serif;
    scroll-behavior: smooth;
    
}
a{
    text-decoration: none;
    color:#fff
}
:root{
    --bgbody: #f0f0f0;
    --bgprimary:#07011d;
    --bgsecondary:#eb7e02;
    --colorprimary: #01000c;
    --butonD: #f7aa05;
    --buton:#016306;
}
body{
    background: var(--bgbody);
    overflow-x: hidden;
    max-width: 100rem;
}
header{
    display:flex;
    line-height: 3rem;
}
header nav{
    /* background:var(--bgsecondary) !important; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height: 50px;
    position: fixed;
    font-weight: bolder;
    z-index: 999;

}
header nav p{
    color:#fff;
    font-size: 2.5rem;
    font-weight: bolder;
    padding:1.5rem
}
header nav .container {
    max-width: 1200px;
    margin: 0 auto;
} 
header nav .container ul {
    list-style: none;
    display: flex;
    margin-left: 48%;
}

header nav .container ul li {
    margin-right: 4rem;
    font-size: 2rem;
}

header nav .container ul li a {
    color: white;
    text-decoration: none;
}
header nav .container ul li a:hover {
    color:var(--butonD)
}


header svg{
    position:absolute;
    z-index:-1;
    width:100%;
    height:100vh;
    /* margin-top:-3.5rem; */
    /* border-radius:  0 0 19rem 19rem/ 0 0 5rem 5rem; */
    /* box-shadow: var(--bgsecondary) 5px 5px 10px; */
}
header .header__intro{
    padding: 10rem 0 0 10rem;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 100rem;
    overflow: hidden;
}
header .header__intro  .header__text{
    margin-top: 10rem;
}
header .header__intro .header__text h1{
    color:var(--colorprimary) !important;
    font-size: 2.5rem;
    margin: 1.2rem 0 0 -4rem ;
}
header .header__intro .header__text h1 span{
    font-size: 5rem;
    /* margin-top:-10rem !important; */
}
header .header__intro .header__text p{
    font-size: 2rem;
    margin: 0 0 0 -4rem ;
}
header .header__intro .header__text div button{
    background: var(--buton);
    color:#fff;
    padding: .8rem;
    font-size: 1rem;
    font-weight: bold;
    border:var(--buton) .2px solid;
    border-radius: 2rem;
    margin: 1rem 0 0 -4rem ;
    transition: 1s ease-in-out;

}
header .header__intro .header__text div button:hover{
    background: var(--butonD);
}
button + button{
    margin-left: .1rem !important;
}
header .header__intro img{
    width:70%;
    position:relative;
}
.obscure{
    position:absolute; 
    background:var(--bgsecondary); 
    width:33%; 
    height: 55vh; 
    /* z-index: -1;  */
    border:#ff8a04 10px solid;
    border-radius: 100%; 
    margin: 3rem 0 0 45rem;
}

#services{
    width:90%;
    height:40vh;
    display:flex;
    padding: 2rem 5rem 0 5rem;
    background: #fff;
}
#services .service{
    width: 50%;
    background: #eb7e02;
    padding: 2rem 2rem 2rem 4rem;
    border-radius: 0 5rem 5rem 0 ;
    margin-left: -6rem
}
#services .service p{
    color:#016306;
    font-weight: bolder;
    font-size: 2rem;
    margin-top: 2.5rem;
}
#services .service h1{
    font-size: 2rem;
    font-weight: bolder;
    color:#fff;
}
#services .swiper .swiper-wrapper .swiper-slide{
    width: 50%;
    margin:1.2rem;
}
#services .swiper .swiper-wrapper .swiper-slide .image{
    /* background:#eb7e02; */
    padding-left: 8rem;
}
#services .swiper .swiper-wrapper .swiper-slide .image img{
    border-radius: 100%;
    width: 7rem;
}
#services .swiper .swiper-wrapper .swiper-slide .caption{
    text-align: center;
    font-weight: bold;
    /* margin-top: 2rem; */
    color:rgb(85, 84, 84);
    font-size: .9rem;
}
#services .swiper .swiper-wrapper .swiper-slide .caption h1{
    color:#eb7e02;
    font-size: 1.2rem;
}
#services .swiper  .swiper-button-prev, #services .swiper  .swiper-button-next{
    margin-top: 5rem;
    color:#eb7e02;
    font-weight: bolder;
}
/* #about{
    width: 100%;
    height:50vh;
    padding-top: 6.5rem;
} */
/* #about svg{
    position:absolute;
    z-index: -1;
    width:100%;
} */
/* #about h2{
    text-align: center;
    background:var(--bgprimary);
    color:#fff;
    padding: .6rem;
    z-index: -1;
}
#about .about-content{
    display: grid;
    grid-template-columns: 60% 40%;
    padding:2rem;
    
}
.about-content__div + .about-content__div{
    padding-left: 3rem;
}
#about .about-content .about-content__div img{
    margin-top: -9rem;
    z-index: 999;
    box-shadow: var(--bgprimary) -10px 10px 10px;
    transition: 2s ease-in-out;
}
#about .about-content .about-content__div img:hover{
    box-shadow: var(--bgbody) -10px 10px 10px;
    transform: rotate(-10deg);
}
#about .about-content .about-content__div p{
    font-size: 1.05rem;
    font-weight: bold;
    color:var(--colorprimary);
    text-align: justify;
    width:80%;
    margin-left: 5rem;
} */

/* #services{
    background: var(--bgprimary);
} */

#myworks{
    /* margin-top:2rem; */
    background-image: url('images/Screenshot\ \(161\).png');
    overflow: hidden;
}
h2{
    text-align: center;
    background:var(--bgprimary);
    color:#fff;
    padding: .6rem;
}
#myworks .works{
    width:100%;
    background-color: rgba(0,0,0,80%);
    overflow: hidden;
}
#myworks .works .workz{
    width:80%;
    height: 45rem;
    margin:20px auto;
    padding: 0 auto;
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}
#myworks .works .workz .work{
    width: 90%;
    height: 20rem;
    border: var(--bgprimary) 2px solid;
    border-radius: 2rem ;
    margin: 10px;
    overflow: hidden;
}
#myworks .works .workz .work img{
    width:30rem;
    height:20rem;
    transition: 2s ease-in-out;
    cursor:pointer;
    
}
#myworks .works .workz .work img:hover{
    width:32rem;
    margin-left: -1rem;
    margin-top: -1rem;
    height: 21rem;
}
.work + .work{
    margin-left: 10rem;
}
#capabilities{
    width:100%;
    height:24rem;
    /* padding: 2rem 0 2rem 2rem; */
    /* background: #fff; */
    
}
#capabilities form{
    width:400rem !important;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    padding:2rem 0 2rem 10rem;
    max-width: 90%;
    margin-top: .2rem;
    line-height: .5rem;
    
}
#capabilities form label{
    width:90%;
    margin-top: 1rem;
    /* height:2rem */
}

#capabilities form label ul li{
    font-size: 1rem;
    font-weight: bold;
    display:grid;
    grid-template-columns: 60% 40%;
}
#capabilities form label ul li span{
    /* margin-left: 13rem; */
    text-align: end;
    font-size:1.2rem;
    color:var(--buton)
}
#capabilities form label input{
    width:100%;
    max-height: 1rem;
    -webkit-appearance:button;
    background-color: green;
    accent-color:orange;  
    -webkit-appearance: none; 
    -moz-appearance: none;
}
#contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: #fff;
    overflow:hidden;
    border-radius: 3rem 2rem 0 0;
    border-top: 2px solid var(--bgprimary);
    
}
#contact div img{
    margin-left:16rem;
    position:relative;
    width:60%;
    margin-top: 3rem;
    position:relative;
    border-radius:0 10% 10% 10% ;
    box-shadow: var(--bgprimary) 10px 10px 10px;
    transition: 2.5s ease-in-out;
}
#contact div img:hover{
    box-shadow: var(--bgbody) 10px 10px 15px;
}
#contact div h2{
    margin: 7rem 2rem 0 -40rem;
}
#contact div #root{
    margin-left: -4rem;
}
